<%= turbo_frame_tag "tab-content" do %>
<% @event.messages.each do |message| %>
        <%= render partial:"messages/message", locals: { message: message} %>
      <% end %>

      <% if user_signed_in? && @event.fighters.include?(current_user) %>
        <%= render partial:"messages/form", locals: { event: @event, message: @message } %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
