<div id="<%= dom_id message %>">
  <p>
    <strong>Event:</strong>
    <%= message.event_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= message.user_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= message.content %>
  </p>

</div>
