<section id="about" class="container text-center my-5">
    <div class="row">
        <div class="col-md-6">
            <h2>About Bout Buddy</h2>
            <p>Bout Buddy is your ultimate online destination for all things combat sports. Connect with fighters, organize events, and follow your favorite sports, all in one place.</p>
        </div>
        <div class="col-md-6">
            <img src="https://res.cloudinary.com/dkhtrg1ts/image/upload/f_auto,q_auto/v1/boutbuddy/assets/sygakjyepzdcnlgrjhpq" class="img-fluid" alt="Aldo Portillo Wins Fight">
        </div>
    </div>
</section>

    <section id="features" class="py-5 bg-light">
        <div class="container">
            <h2 class="text-center mb-4">Key Features</h2>
            <div class="row">
            <div class="col-md-4">
                <h3>For Fighters</h3>
                <p>Find suitable opponents, track fight records, manage schedules.</p>
            </div>
            <div class="col-md-4">
                <h3>For Promoters</h3>
                <p>Organize events, manage fighter rosters, communicate efficiently.</p>
            </div>
            <div class="col-md-4">
                <h3>For Fans</h3>
                <p>Stay updated, follow favorite fighters, engage with the community.</p>
            </div>
            </div>
        </div>
    </section>

    <section id="testimonials" class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-4">Hear From Our Community</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="testimonial bg-white p-4 h-100">
                    <p class="testimonial-text">"Bout Buddy revolutionized how I manage my fighting career. Finding bouts and managing my schedule has never been easier!"</p>
                    <hr>
                    <p class="testimonial-author">- Tyler Veal, Professional MMA Fighter</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial bg-white p-4 h-100">
                    <p class="testimonial-text">"As a promoter, Bout Buddy is a game-changer. It streamlines the event organization process and improves communication with fighters."</p>
                    <hr>
                    <p class="testimonial-author">- Abby Lee, Fight Promoter</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial bg-white p-4 h-100">
                    <p class="testimonial-text">"I love the real-time updates and comprehensive fighter stats. Bout Buddy is a must-have for every combat sports fan!"</p>
                    <hr>
                    <p class="testimonial-author">- Joe Schmo, Combat Sports Enthusiast</p>
                </div>
            </div>
        </div>
    </div>
</section>
    
    <section id="download" class="py-5 bg-primary text-white text-center">
        <h2>Get Instant Access</h2>
        <p>Join Bout Buddy today and dive into the world of combat sports.</p>
        <a href="/users/sign_up" class="btn btn-light btn-lg">Sign Up Now</a>
    </section>
