<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag "fighter_carousel" do %>
<%= turbo_frame_tag "fighter_card" do %>
  <%= render 'users/fighter_profile_card', fighter: @fighter || fighter  %>
  <% end %>
  
<% end %>
