<h1>New event</h1>

<% if current_user&.role == "promoter" && !current_user&.own_venues %>
  <%= render "form", event: @event %>
<% else %>
  <p>You do not have any venues to host events. Please add venues.</p>
  <%= link_to "New Venue", new_venue_path, class: 'btn btn-primary col-auto'%>
<% end %>
<br>

<div>
  <%= link_to "Back to events", events_path %>
</div>
