<div id="<%= dom_id venue %>">
  <p>
    <strong>Name:</strong>
    <%= venue.name %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= venue.lat %>
  </p>

  <p>
    <strong>Lng:</strong>
    <%= venue.lng %>
  </p>

</div>
