<div id="<%= dom_id weight_class %>">
  <p>
    <strong>Name:</strong>
    <%= weight_class.name %>
  </p>

  <p>
    <strong>Min:</strong>
    <%= weight_class.min %>
  </p>

  <p>
    <strong>Max:</strong>
    <%= weight_class.max %>
  </p>

</div>
